

/* main menu
----------------------------*/
#ddmenu
{
    display:block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center; /*Specify the alignment of the whole UL if UL is not width:100%;*/
    letter-spacing:normal;
    float: right
    
}
#ddmenu ul
{ 
    margin:0 auto; 
    padding:0;
    text-align:center; /* Alignment of each top-level menu items within the UL */
    width:100%;
    display:inline-block;
    list-style:none;
    position:relative;
    z-index:999999990; 
    background-image: linear-gradient(#FFF, #CCC);
    border:5px solid rgba(255,255,255,0.2);
    border-radius:2px;
}

#ddmenu li
{
    margin:0;
    padding:0;
    font-size:16px;
    display:inline-block;
    *display:inline;
    zoom:1; /*for IE6-7*/
    color: #444;
    position:relative;
    line-height:46px; /*This determines the height of the menu*/
    transition:background-color 0.2s;
    outline:none;
    
   
}
#ddmenu li.over
{
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color: #222;   
}
#ddmenu .top-heading
{
    font-weight:bold;
    white-space:nowrap;
    margin:0 16px;
    color:inherit;
    text-decoration:none;
    display:inline-block; 
    outline:0;
    cursor:pointer;
}

/*styles for mobile*/
@media only screen and (max-width: 780px) 
{
    #ddmenu ul {
        width: 100%; 
        display: none;
    }
	
    #ddmenu li {
        position:relative;
        display:block;
        font-size:20px;
        text-align:left;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    /* All the following are for the div.menu-icon (pure CSS) */
    #ddmenu div.menu-icon {
        font-size:32px;/*icon size*/
		display: block;
        position: relative;
		width: 40px;
		height:36px;
        text-align:center;
		cursor: pointer;
		-moz-user-select:none;		
        -webkit-user-select: none;
        background-color: #eee;
        border-radius: 3px;
        margin-bottom:6px;
        /*align the icon to the right*/
        margin-left: auto;
        margin-right: 11px;
    }

    #ddmenu div.menu-icon::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 4px;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #333;
        border-bottom: 0.125em solid #333;
        box-sizing: content-box;
    }
}